name: CI-Train-Model

on:
  push:
    branches: [ "main" ]

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install MLflow
        run: pip install mlflow pandas scikit-learn xgboost

      - name: Run MLflow Project
        run: |
          cd MLProject
          mlflow run .

      - name: Upload Model Artifact
        uses: actions/upload-artifact@v4
        with:
          name: trained-model
          path: MLProject/mlruns
      - name: Build Docker Image
        run: |
          cd MLProject
          mlflow models build-docker -m runs:/latest/model -n username/sentiment-ml

      - name: Login Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Push Docker Image
        run: docker push username/sentiment-ml

